* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(205, 169, 126);
  display: flex;
  justify-content: center;
  // align-items: center;
  .ItemsContainer {
    width: 50%;
    height: 50%;
    background-color: aquamarine;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    margin-top: 20px;
    align-items: center;
    // position: relative;
    .items {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      margin-top: 30px;
      // position: absolute;
      bottom: 100px;
    }
  }
}
