.Input {
  padding: 10px 2px;
  border: none;
  outline: none;
  border-radius: 10px 0 0 10px;
  // font-weight: 500;
  font-size: 15px;
}
button {
  padding: 10px 8px;
  border-radius: 0 15px 15px 0;
  outline: none;
  font-size: 14px;
  background-color: bisque;
}
button:hover {
  cursor: pointer;
  background-color: rgb(179, 155, 123);
  transition: all 0.5s ease-out;
}
button:focus {
  background-color: rgb(140, 140, 239);
  transition: all 0.2s ease-out;
}
